<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9zKhO0GXE-sALs0fplT3I6Dkj7EGJkss</string>
	<key>GCM_SENDER_ID</key>
	<string>934922922503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmdc.guida</string>
	<key>PROJECT_ID</key>
	<string>guida-a3f67</string>
	<key>STORAGE_BUCKET</key>
	<string>guida-a3f67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934922922503:ios:9e01807d5878b980c8d8a2</string>
</dict>
</plist>